@import "../../styles/colors.scss";

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

    .form {
        display: flex;
        flex-direction: column;
        background: $white;
        padding: 2.5rem;
        border-radius: 0.5rem;
        align-self: center;

        // max-width: 25rem;
        width: 100%;
        max-width: 37.5rem;

        // box-shadow: 0 1px 3px -1px $black;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        h2 {
            color: $primaryDark;
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .submit {
            margin-top: 1.5rem;

            &:disabled {
                background: $disabled-bg;
                color: $disabled-text;
                cursor: not-allowed;
            }
        }

        .link {
            text-align: center;
            color: $primary;
            margin-top: 1rem;
            text-transform: lowercase;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
